body{
    padding: 0;
    margin: 0;
}

.top{
    padding: 10px;
    padding-left: 1px;
    margin: 25px;
    margin-left: 60px;
    width: 650px;
    font-size: 26px;
    border-bottom:  #0099ff solid 3px;
}


.main1{
    margin-left: 60px;
    width: 655px;
}


.title1{
    padding-top: 10px;
    font-size: 20px;
}

.psize{
    margin: 8px;
    margin-left: 30px;
    width: 655px;
}

.psize2{
    margin: 3px;
    margin-left: 30px;
}

.psize3{
    margin: 0px;
    margin-left: 50px;
}